 <ion-view animation="fade-in-out" view-title="Intro">
    <ion-content class="intro" scroll="false">

        <ion-slide-box show-pager="true" on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>On Golf - Quick Profiler</h3>
            <br>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
            <br>
              We've worked super hard to make you happy.
            </p>
          </ion-slide>
          <ion-slide>
            <h3>View, Connect, & Quickly Profile Prospects</h3>
            
           <img src="img/iphone-black.png" alt="Iphone" class="device">
          </ion-slide>
          <ion-slide>
            <h3>Track Courses by Contact, Activity, & More</h3>
            
           <img src="img/iphone-black.png" alt="Iphone" class="device">
          </ion-slide>
          <ion-slide>
            <h3>Prospect instantly dropped into Groups & Campaigns</h3>
            
           <img src="img/iphone-black.png" alt="Iphone" class="device">
          </ion-slide>
          <ion-slide>
            <h3>See progress & crucial follow ups</h3>
            
           <img src="img/iphone-black.png" alt="Iphone" class="device">
          </ion-slide>
          <ion-slide>
            <h3>Ready to Get Started?</h3>
            <p>
              Let's Go!
            </p>
          </ion-slide>
        </ion-slide-box>

       

        </ion-content>
         <div class="startApp" ng-click="startApp()">
          Get Started <i class="icon ion-arrow-right-c"></i>
        </div>
      </ion-view>